<!DOCTYPE html>
<html>

<head>
  <title>Teacher Bot</title>
  <!-- Add Bootstrap CSS link here -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<style>
  body {
    background-color: #e3ebf3;
  }


  .image-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* Added flex-wrap property to wrap elements when screen size is smaller */
  }

  #answer-container {
    flex: 1;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 20px 90px;
    margin-right: -108px;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .error-container {
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .result-container {
    border-color: #000000;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #recording-status {
    text-align: center;
    font-size: 24px;
    color: #333;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }

  #process-circle-container {
    display: none;
    /* Hide the container initially */
  }

  #process-circle {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: #007bff;
    /* Set the color of the rotating border */
    animation: rotate 1s infinite linear;
    /* Add the rotation animation */
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
      /* Set the initial rotation angle */
    }

    to {
      transform: rotate(360deg);
      /* Set the final rotation angle */
    }
  }
</style>

<body>

  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 style="color: navy; font-weight: 550; text-align: center;">CLASSMATIC PROTOTYPE</h1>
        <p style="color: navy; font-weight: 500; text-align: center;">Welcome, I'm an AI Teaching Assistant here to
          support you. Ask me anything.</p>

        <div class="card">
          <div class="card-body">
            {% if transcription %}
            <div class="result-container">
              <p style="font-weight: 600">QUESTION : {{ transcription }}</p>
            </div>
            {% endif %}
            <!-- Add an element to display recording status -->
            <p id="recording-status">press space to ask question 🎙️</p>
            <div id="process-circle-container">
              <div id="process-circle"></div>
            </div>



            <div class="form-container">
              <p class="text-center">
                <!-- <button id="recordButton" class="btn btn-primary">Start Recording</button> -->
              </p>

              <form method="post" action="{{ url_for('transcribe_audio') }}" class="text-center">
                <button type="submit" class="btn btn-primary" id="Transcribe" hidden>Transcribe</button>
              </form>


            </div>
            <div style="margin-top: 70px;" class="row">
              <div class="col-md-3">
                <div class="image-container">
                  <img class="image" src="/logo.png" style="width: 200px; height: 150px;" />

                </div>
              </div>
              <div class="col-md-7">
                <div id="answer-container">
                  {% if answer %}
                  <p style="font-weight: 600;">ANSWER: </p>
                  <p> {{ answer }} </p>

                  <script>
                    const utterance = new SpeechSynthesisUtterance({{ answer | tojson }});
                    utterance.voice = speechSynthesis.getVoices()[0];
                    speechSynthesis.speak(utterance);
                  </script>
                  {% endif %}
                </div>
              </div>
            </div>



            {% if error %}
            <div class="error-container mt-3">
              <p>Error: {{ error }}</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>



<script>

  const handleSuccess = function (stream) {
    const options = { mimeType: 'audio/webm' }; // Change mime type
    const recordedChunks = [];
    let mediaRecorder = null; // Declare mediaRecorder as a global variable

    const startRecording = function () {
      mediaRecorder = new MediaRecorder(stream, options); // Create a new MediaRecorder instance
      mediaRecorder.addEventListener('dataavailable', function (e) {
        if (e.data.size > 0) recordedChunks.push(e.data);
        const recordingStatus = document.getElementById('recording-status');
        recordingStatus.textContent = 'Recording started';

        const processCircleContainer = document.getElementById('process-circle-container');
        processCircleContainer.style.display = 'block';
      });

      mediaRecorder.addEventListener('stop', function () {
        const blob = new Blob(recordedChunks);
        const formData = new FormData();
        formData.append('audio', blob);
        const recordingStatus = document.getElementById('recording-status');
        recordingStatus.textContent = 'Discovering ';

        // Apply noise reduction using the Web Audio API
        const audioContext = new AudioContext();
        const reader = new FileReader();
        reader.onloadend = function () {
          audioContext.decodeAudioData(reader.result, function (buffer) {
            const scriptNode = audioContext.createScriptProcessor(4096, 1, 1);
            scriptNode.onaudioprocess = function (event) {
              const inputBuffer = event.inputBuffer;
              const outputBuffer = event.outputBuffer;
              const inputData = inputBuffer.getChannelData(0);
              const outputData = outputBuffer.getChannelData(0);
              for (let i = 0; i < inputData.length; i++) {
                // Apply noise reduction logic here
                // Example: set outputData[i] to inputData[i] to bypass noise reduction
                outputData[i] = inputData[i];
              }
            };
            const source = audioContext.createBufferSource();
            source.buffer = buffer;
            source.connect(scriptNode);
            scriptNode.connect(audioContext.destination);
            // source.start();
          });
        };
        reader.readAsArrayBuffer(blob);

        fetch('/save-audio', {
          method: 'POST',
          body: formData
        })
          .then(response => {
            // Handle response from the server
            console.log('Audio saved successfully');
            console.log(response);

            // Trigger 'Transcribe' button after audio is saved
            const transcribeButton = document.getElementById('Transcribe');
            transcribeButton.disabled = false; // Enable the 'Transcribe' button
            transcribeButton.click(); // Trigger click event on the 'Transcribe' button
            processCircleContainer.style.display = 'none';

          })
          .catch(error => {
            // Handle error
            console.error('Failed to save audio', error);
          });
      });

      mediaRecorder.start();
    };

    let isRecording = false; // Variable to keep track of recording state
    document.addEventListener('keydown', function (event) {
      if (event.code === 'Space') {
        if (!isRecording) {
          startRecording(); // Start recording if not recording
          isRecording = true; // Set recording state to true
          // Stop recording after 5 seconds
          setTimeout(function () {
            mediaRecorder.stop(); // Stop recording after 5 seconds
            isRecording = false; // Set recording state to false
          }, 5000); // 5000 milliseconds = 5 seconds
        }
      }
    });
  };

  navigator.mediaDevices.getUserMedia({ audio: true, video: false })
    .then(handleSuccess);
</script>

</head>


<!-- Add Bootstrap JS link here -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>